@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #3a3a3a;
}

header {
  background-color: #fff;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 4px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 4.5 rem;
  height: 50px;
}

#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 1.5rem;
}

header a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
  font-size: 150%;
}

#menu {
  letter-spacing: 5px;
  font-size: 1.2rem;
  list-style-type: none;
}

#menu li {
  margin-bottom: 1rem;
}

.active {
  color: #f00;
  border-bottom: 2px solid #000;
}

nav {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  padding: 0 1rem;
  display: none;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

main {
  flex: 1 0 auto;
  margin-top: 3.5rem;
}

#hero {
  background: url("../assets/images/hero-image.webp") no-repeat center
    center/cover;
  height: 600px;
  width: 100%;
  position: relative;
}

.cover-text {
  background-color: rgba(255, 100, 0, 0.5);
  width: 70%;
  padding: 20px;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  min-height: 100px;
  left: 10px;
}

.cover-text > h2,
.cover-text > h3 {
  color: #fff;
}

#reasons {
  margin: 20px auto;
}

#reasons h2 {
  text-align: center;
  font-size: 280%;
  font-weight: 700;
  margin: 10px;
  text-transform: uppercase;
}

#reasons h3 {
  font-size: 200%;
  font-weight: 700;
}

#benefits {
  margin: 5px 5px 20px 5px;
}

#benefits hr {
  border: 1px solid #000;
  margin: 5px 0;
}

#benefits p {
  padding: 0 20px;
}

#benefit-physical,
#benefit-mental {
  margin-bottom: 10px;
  /* padding: 5px; */
  line-height: 1.5;
}

#circle-cover-bg {
  background: url("./images/reasons-image.webp") no-repeat center center/cover;
  height: 90vw;
  width: 90vw;
  margin: 20px auto;
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
}

#benefit-physical,
#benefit-mental {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#benefit-physical {
  width: 75%; /* 75% of the parent container */
}

#benefit-mental {
  width: 75%;
}

#times {
  background: url("./images/dublin-city.webp") no-repeat center center/cover;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  justify-content: space-evenly;
}

#meetups > h2 {
  text-align: center;
  font-size: 280%;
  font-weight: 700;
  margin: 10px;
  text-transform: uppercase;
}

#times h3 {
  font-size: 200%;
  font-weight: 700;
  margin: 10px;
  color: #fafafa;
}

#times div {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  text-align: center;
  color: #fafafa;
  flex: 1 0 200px;
  font-weight: 900;
  border: 2px solid #fafafa;
}

.hinding {
  display: none;
}

/* galery  */

#galery img {
  width: 100%;
  height: auto;
}

footer {
  background-color: #fff;
  padding: 10px;
  /* flex-basis: 45px; */
  /* border-top: 1px solid #3a3a3a; */
  box-shadow: 0 -2px 4px #3a3a3a;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer .social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

footer .social-links i {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 2em;
}

/* Animate the nav bar */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media Queries */

@media screen and (min-width: 425px) {
  #galery {
    column-count: 2;
    column-gap: 0;
  }
}

@media screen and (min-width: 768px) {
  nav {
    display: block;
    align-items: baseline;
    position: static;
    background-color: transparent;
    box-shadow: none;
    width: auto;
    padding: 0;
  }

  #menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  #menu li :hover {
    color: #f00;
    border-bottom: 2px solid #000;
  }

  #menu li {
    padding-top: 0.5rem;
  }

  #benefits {
    display: flex;
    flex-direction: column;
  }

  #benefit-physical {
    align-self: flex-start;
    text-align: start;
  }

  #benefit-mental {
    align-self: flex-end;
    text-align: end;
  }

  footer .social-links {
    justify-content: space-around;
  }

  .cover-text {
    width: 200px;
    right: 10px;
    left: auto;
    bottom: 0;
  }

  #times div {
    border-right: 2px solid #fafafa;
  }
}

@media screen and (min-width: 1024px) {
  #benefits {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: row;
  }

  #circle-cover-bg {
    order: 2;
    margin: 20px 40px;
  }

  #benefit-mental {
    order: 3;
    align-self: start;
    margin: 0;
  }
  /* added */
  #benefit-physical {
    order: 1;
    align-self: start;
    margin: 0;
  }
}
